
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e0f7fa;
}
/*Estilos para la barra de navegacion*/
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    background-color: #333; 
}

.logo {
    display: flex; 
    flex-direction: row; 
    align-items: baseline; 
}

nav h1 {
    font-size: 40px; 
    color: #fff; 
    margin: 0; 
}

nav h2 {
    font-size: 16px; 
    color: #ffffff; 
    margin-left: 5px; 
}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    transition: background-color 0.3s; 
    font-size: 16px;
}

nav a:hover {
    background-color: #555; 
    font-size: 20px;
    color: #007bff;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}


/*Estilos para la pagina de home  */
.home-section {
    text-align: center; 
    padding: 50px; 
    margin: 100px; 
}

.home-section h1 {
    font-size: 3rem; 
    color: #343a40; 
    margin: 30px 0 30px 0; 
}

.home-section p {
    font-size: 23px; 
    color: #37393b; 
    line-height: 1.5; 
    max-width: 800px; 
    margin: 0 auto; 
}

.home-section h2 {
    font-size: 1.6rem; 
    color: #ff0000; 
    margin-top: 30px;
}

/*Estilos para productos */
.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.product-card {
    border: 1px solid #d3cccc;
    background-color: #ffffff93;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.product-card h3 {
    font-size: 1.1rem;
    color: #333;
}

.product-card p {
    color: #007bff;
    font-weight: bold;
}


.product-details {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.product-details img {
    width: 250px;
    height: auto;
    margin-bottom: 1rem;
}

.product-details h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.product-details p {
    color: #666;
    line-height: 1.6;
}
